@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br /><br />
    <h3 class="display-5"><strong>Projekt zaliczeniowy na przedmiot:</strong><br/> "Wykorzystanie MS SQL i pakietów MS Business Intelligence do budowy aplikacji"</h3>
</div>
