<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">mssqlProject.Web</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="budget">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Budżety
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="promoter">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Organizatorzy
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="trip">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Wycieczki!
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="hotel">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Hotele
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="place">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Atrakcje
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="group">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Grupy
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="participant">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Uczestnicy
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="comment">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Komentarze
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
